<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ebooks for users, by users">
    <meta name="keywords" content="Buy ebook,ebooks,Online books,pdfs,book,authors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gourav Ebooks</title>
    <link rel="shortcut icon" href="/img/marketplace.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</body>

</html>