<div class="login-page">
    <form action="/user/verify" method="POST">
        <input type="text" pattern="[0-9]{6}" placeholder="Enter 6-digit OTP sent in mail" name="otp" required />
        <input type="hidden" name="otpInMail" value="<%= otp %>">
        <button class="payBtn" type="submit">Submit OTP</button>
        <p>Only 3 attempts to enter OTP</p>
    </form>
</div>